asgiref==3.8.1
Django==5.2
gensim==4.3.3
gunicorn==23.0.0
numpy==1.26.4
packaging==24.2
python-dotenv==1.1.0
scipy==1.13.1
setuptools==75.8.0
smart-open==7.1.0
sqlparse==0.5.3
wheel==0.45.1
wrapt==1.17.2
